<main>
	<div class="tweets">
		<div class="tweet">
			<div class="form create_tweet">
			<%= form_tag("/posts/create", {multipart:true}) do %>			
				<%# ctrl+enterで送信 %>
				<textarea name="content" rows="5" onkeydown="if(event.ctrlKey&&event.keyCode==13){document.getElementById('submit').click();return false};"></textarea>

				<label class="uploder"><i class="fas fa-image"></i>
					<input name="image" type="file">
				</label>

				<input type="submit" value="Log" class="log_btn" id="submit">
			<%end%>
			</div>

		</div>
		<% @posts.each do |post| %>
		<div class="tweet <%=" #{'past' if post.created_at < 1.day.ago}" %>">
			<% if post.tweet_image %>
			<div class="tweet_img">
				<img src="<%= "/tweet_images/#{post.tweet_image}" %>">
			</div>
			<% end %>
			<% if post.content != "" %>
			<div class="tweet_text">
				<%= simple_format(sanitize post.content) %>
			</div>
			<% end %>
			<div class="tweet_time">
				<% if post.created_at < 1.day.ago %>
				<%# 昨日の、一週間前の、一ヶ月前の、一年前の %>
				<span class="past_date">
					<%= time_ago_in_words_jp(post.created_at) + 'の'%></span>
				<% end %>
				<%= post.created_at.to_s(:stime) %>
			</div>
		</div>

		<%end%>
	</div>
</main>